.HomePage{
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "Header"
    "Presentation"
    "Footer";
}

.Header{
    grid-area: Header;
}
.Presentation{
    grid-area: Presentation;
}
.Footer{
    grid-area: Footer;
}